body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;

}

body::-webkit-scrollbar {
    width: 0px;
}

body::-webkit-scrollbar-thumb {
    background-color: transparent;
} 


/** header **/

header {
    background-image: linear-gradient(to right, rgba(136, 234, 135, 0.354), rgb(133, 226, 161));
    color: #ffeeee;
    display: flex;
    background-color: #007BFF;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px;
}

.active {
    background-color: #0056b3;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a  {
    text-decoration: none;
    color: #fffcfc;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
    outline: none; 
}

nav a:hover {
    background-color: #cafacd;
    color: #007BFF; 
}
.logout {
    background-color: transparent;
    color: #fffcfc;
    font-weight: bold;
    border: none; 
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s;
    outline: none; 
    margin-top: -6px;
}

.logout:hover {
    background-color: #cafacd;
    color: #007BFF;
}

.logout:focus {
    box-shadow: 0 0 2px 2px #007BFF;
}
h3{
    background-color: #007BFF;
    background-image: linear-gradient(to right, rgba(136, 234, 135, 0.354), rgb(133, 226, 161));
    color:#f7f7f7;
    text-align: center;
    padding: 10px;

}
.dashboard-container {
    background-color: #f7f7f7;
    padding: 20px;
}

.welcome-message h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}



/** Dashboard_table **/

.task-assignments table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin-top: 20px;
}

.task-assignments th, .task-assignments td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.task-assignments td.volunteer_status {
    padding-right: 10px; 
    align-items: center ;
}

.task-assignments select.status_dropdown {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
   
    
    background-position: right 8px center;
    cursor: pointer;
    font-size: 14px; 
}


.task-assignments select.status_dropdown:hover {
    border-color: #007BFF;
}


.task-assignments select.status_dropdown:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


.task-assignments button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 8px 12px;
    border: none;
    font-size: 13px;
    border-radius: 4px;
    cursor: pointer;
}


.task-assignments button[type="submit"]:hover {
    background-color: #0056b3;
}

.error {
    color: #ff0000; 
    font-size: 12px; 
    margin-top: 1px; 
}

.DateRange {
    display: flex;
    align-items: center;
}

.DateRange label {
    margin-right: 10px;
}
.DateRange input {
    margin-right: 10px;

}







