/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;

}

body::-webkit-scrollbar {
    width: 0px;
}

body::-webkit-scrollbar-thumb {
    background-color: transparent;
} 

header {
    position: fixed;
    background-image: linear-gradient(to right, rgba(136, 234, 135, 0.354), rgb(133, 226, 161));
    color: #ffeeee;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    display: flex;
    z-index: 1000; 
}

.logo img {
    width: 100px;
}

.active {
    background-color: #0056b3;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #fffcfc;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s; /* Added transition properties for color and background-color */
}

nav a:hover {
    background-color: #cafacd;
    color: #007BFF; /* Change the link color on hover */
}

.introduction {
    text-align: center;
    background-image: url("/images/bg2.png");
    padding: 188px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1.5s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.introduction h1 {
    font-size: 36px;
    color: #0f0f0f;
    margin-bottom: 20px;
}

.introduction p {
    font-size: 18px;
    color: #3e3d3d;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.cta-button:active {
    background-color: #3e8e41;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.container h2 {
    font-size: 24px;
    color: #007BFF;
}

.container p {
    font-size: 16px;
    line-height: 1.6;
}

.aboutus {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    background-image: url('/images/signupbg.png');
    margin: 0;
    padding: 0;
  
}
